$black-color: #010101;

body,
html {
    margin: 0;
    font-family: 'Roboto';
    background-image: linear-gradient(to right, $black-color, $black-color);
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box
}

nav {
    width: 100%;
    z-index: 999;
    position: fixed;
}

.main {
    display: flex;
    flex-direction: column;
}

section {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#home {
    display: flex;
    justify-content: center;
    position: relative;
}

#ranking {
    display: flex;
    justify-content: space-between;
}

@media (min-width: $bs-md) {
    nav {
        display: flex;
        justify-content: space-between;
    }
}