#home {
    background-color: yellow;
    font-family: 'Roboto';
    display: flex;
    justify-content: space-between;
}

.home__sinopse {
    margin-top: 100px;
}

.sinopse__title {
    font-size: 9vmin;
}

.sinopse__text {
    line-height: 28px;
    padding-left: 50px;
    padding-right: 50px;
    font-size: 2.8vmin;
}