.home__sinopse {
    display: flex;
    align-items: center;
}

.sinopse__title {
    font-size: 60px;
    color: inherit;
}

.sinopse__title::after {
    content: ' ';
    width: 200px;
    display: block;
    border: 2px solid;
    margin-bottom: -20px;
    margin-top: 20px;
}

.sinopse__text {
    line-height: 28px;
    font-size: 18px;
    color: inherit;
    padding-bottom: 30px;
}