body, html {
    margin: 0;
}

* {
    box-sizing: border-box
}

nav {
    width: 100%;
    background-color: red;
    font-family: 'Roboto';
    display: flex;
    justify-content: space-between;
}

section {
    height: 90vh;
}