.pl {
    &-150 {
        padding-left: 150px;
    }

    &-50 {
        padding-left: 50px;
    }
}

.pr {
    &-150 {
        padding-right: 150px;
    }

    &-50 {
        padding-right: 50px;
    }
}