.ameaca {
    display: flex;
    align-items: center;
    border: 2px solid rgb(168, 167, 167);
    transition: all 1s cubic-bezier(0, 1.24, 0.29, 1.29);

    &__content {
        width: 100%;
        position: relative;
    }

    &__img {
        display: flex;
        justify-content: center;
    }

    &__name {
        display: flex;
        justify-content: center;
        color: #b2b2b2;
    }
}

.img__ameaca {
    width: 132px;
    filter: brightness(1) invert(70%);
}


.ameacas__content {
    margin-top: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 1em;
    min-height: 90vh;
}