$p85-brightness: brightness(85%);
$orange-hue: hue-rotate(365deg);
$normal-orange-color: #a15000;

$p65-brightness: brightness(65%);
$red-hue: hue-rotate(320deg);
$normal-red-color: #bb0000;

$green-hue: hue-rotate(425deg);
$normal-green-color: #004f00;

$yellow-hue: hue-rotate(22deg);
$normal-yellow-color: #636400;

.ameaca {
    display: flex;
    height: 180px;
    align-items: center;
    transition: all 1s cubic-bezier(0, 1.24, 0.29, 1.29);
    outline: 0;

    &__content {
        width: 100%;
        position: relative;
        display: flex;
        justify-content: center;
    }

    &__img {
        display: flex;
        justify-content: center;
    }

    &__name {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        margin-left: 20px;

        &_tigre {
            color: $normal-orange-color;
        }

        &_demonio {
            color: $normal-red-color;
        }

        &_dragao {
            color: $normal-green-color;
        }

        &_deus {
            color: $normal-yellow-color;
        }
    }
}

.img {
    &__ameaca {
        width: 132px;

        &_tigre {
            filter: invert(40%) grayscale(100%) $p85-brightness sepia(100%) $orange-hue saturate(400%) contrast(2);
        }

        &_demonio {
            filter: invert(40%) grayscale(100%) $p65-brightness sepia(100%) $red-hue saturate(400%) contrast(2);
        }

        &_dragao {
            filter: invert(40%) grayscale(100%) $p65-brightness sepia(100%) $green-hue saturate(400%) contrast(2);
        }

        &_deus {
            filter: invert(40%) grayscale(100%) $p85-brightness sepia(100%) $yellow-hue saturate(400%) contrast(2);
        }
    }
}

.ameacas__title {
    font-family: 'Poppins'
}

.ameacas__content {
    margin-top: 10px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
}

@media (min-width: $bs-md) {
    .ameacas__content {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr;
    }
}