.game {
    &__content {
        background-image: url('../img/background_game.jpg');
        background-color: transparent;
    }

    &__elements {
        position: relative;
    }

    &__saitama {
        width: 100px;
        display: inline-block;
        position: absolute;
        top: 505px;

        &_img {
            width: inherit;
        }
    }
}