.sinopse {
    display: flex;
    align-items: center;

    &__title {
        font-size: 60px;
        color: inherit;
    }

    &__title::after {
        content: ' ';
        width: 200px;
        display: block;
        border: 2px solid;
        margin-bottom: -20px;
        margin-top: 20px;
    }

    &__text {
        line-height: 28px;
        font-size: 18px;
        color: inherit;
        padding-bottom: 30px;
    }
}

.saitama__mini {
    height: 100%;
}

.saitama__img {
    position: absolute;
    align-self: flex-end;
    width: 20%;
    height: 35%;
    margin-top: .4%;
}