.sinopse {
    display: flex;
    align-items: center;

    &__title {
        font-size: 60px;
        color: inherit;
    }

    &__text {
        line-height: 28px;
        font-size: 18px;
        color: inherit;
        padding-bottom: 30px;
    }

    &__content {
        padding-left: 10px;
        padding-right: 10px;
        margin-top: 150px;
        text-align: center;
    }

}

@media (min-width: $bs-md) {
    .sinopse {
        &__content {
            padding-left: 40px;
            padding-right: 40px;
        }
    }
}