.navbar__logo {
    display: flex;
    justify-content: center;
}

.navbar__menu {
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu__list {
    display: flex;
}

.menu__item {
    list-style-type: none;
    margin-right: 20px;
    font-weight: bold;
}

@media (min-width: $bs-md) {
    .logo__content {
        padding-left: 20px;
    }
}